.bg--area {
  position: relative;
}
.bg--area:before {
  content: "";
  position: absolute;
  left: 0;
  width: 100vw;
  top: 0;
  height: 100%;
}
@media screen and (min-width: 1200px) {
  .bg--area:before {
    left: calc((100vw - 1140px) / 2 * -1 - 15px);
  }
}
@media (min-width: 992px) and (max-width: 1199.98px) {
  .bg--area:before {
    left: calc((100vw - 960px) / 2 * -1 - 15px);
  }
}
@media (min-width: 768px) and (max-width: 991.98px) {
  .bg--area:before {
    left: calc((100vw - 720px) / 2 * -1 - 15px);
  }
}
@media (min-width: 576px) and (max-width: 767.98px) {
  .bg--area:before {
    left: calc((100vw - 540px) / 2 * -1 - 15px);
  }
}
@media screen and (max-width: 575.98px) {
  .bg--area:before {
    left: -15px;
  }
}
.bg--area.bg--light:before {
  background: #f8f9fa !important;
}